body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #feead3;
    margin: 0 ;
    /* padding: 20px; */
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../Images/bakcground-dang-ky.jpg'); 
    background-size: cover; 
    background-position: center;
    filter: blur(8px); 
    z-index: -1; 
}
.containers {
    background-color: white;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: brown;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: brown;
}
