*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
/* top */
.logo img{
    width: 58px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100vw;
    padding: 0 5vw;
    border-bottom: 0.5px brown solid;
    background-color: #FEEAD3;
    position: fixed;
    top: 0;
    z-index: 99;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 99;
    background-color: #FEEAD3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    padding: 20px;
}
.navbar i{
    display: flex;
}
.bar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.bar ul li a{
    padding: 0 20px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    align-items: center;
}
.bar ul li:hover{
    color: brown;
}
@media only screen and (max-width:850px){
    .bar ul li a{
        padding: 0 15px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        display: inline;
        align-items: center;
    }
}
@media only screen and (max-width:780px){
    .hideOnMobile{
        display: none;
    }
    .bar ul li a{
        font-size: 20px;
        padding-bottom: 15px;
    }
    
}
h1{
    color: #ff5733;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 10px;
}

input{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    margin-top: 20px;
    padding: 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #e14e1a;
}